{*php dump(get_defined_vars())*}

{form form-factory2}
	{inputError}
	<div class="form-group">
		{label ahoj}
		{input ahoj}
	</div>
	<div class="form-group">
		{label text}
		{input text, style=>"width:50%"}
	</div>
	<div class="form-group">
		<div class="form-check">
			{input suhlas}{label suhlas}
		</div>
	</div>
	{input save}
{/form}

